.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: .5s ease;

    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: #000;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen_links {
    list-style: none;
}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: #000;
    font-size: 2rem;
    text-align: center;
}

.app__navbar-smallscreen_links li:hover {
    color: #ccc;
}

@media screen and (max-width: 650px) {
    .top_title {
        display: none;
    }
    
    .top_design {
        justify-content: flex-end;
    }

    ul.app__navbar-smallscreen_links li a {
        color: #000;
        text-align: center;
    }

    .app__navbar-smallscreen_links {
        position: relative;
        top: 10rem;
        left: -1rem;
    }

    .app__navbar-links {
        display: none;
    }
    
    .container_des {
        width: 100%;
    }

    .app__navbar-smallscreen {
        display: flex;
    }

    .header_logo img {
        margin: 0%;
    }

    .imghero_1 {
        width: 70%;
        display: block;
        margin: auto;
    } 

    .awards_img {
        display: block;
        margin: 20px auto;
        text-align: center;
    }

    .inner_cnt {
        padding: 0px 15px;
    }

    h1 {
        font-size: 36px;
        line-height: 40px;    
    }

    h2 {
        font-size: 26px;
        line-height: 28px;
    }

    .img_brangin {
        flex-direction: column-reverse;
    }

    .ther-img img {
        width: 350px;
        display: block;
        margin: auto;
        text-align: center;
    }

    .ftrt-link {
        flex-direction: column;
        padding: 0px 24px;
    }    
}
